body{
    min-height: 98.31%;
    display: flex;
    flex-direction: column;
}

form{
    margin-top: 15%;
    display: grid;
    padding: 2%;
    margin-left: 40%;
    margin-right: 40%;
    outline-color: darkgray;
    outline-style: dotted;
    outline-width: 2px;
}

.formContent{
    justify-self: center;
}